<mat-drawer-container>
	<mat-drawer #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
    <div class="sidenav-header" style="display:flex; ">
      <img src="../assets/images/download.jpg" width="40vw" style="border-radius: 10px;margin-right: 5px;" >
			<span>{{collapsedNav && !mobileQuery.matches ? 'W' : 'Weather App'}}</span>
		</div>
    <hr style="color: white;height: 5px;">
		<ul style="margin-top: 50px;">
			<li routerLink="/dashboard">
				<mat-icon >dashboard</mat-icon>
        <span style="margin-left: 3px;">Dashboard</span>
			</li>
			<li routerLink="/weather-state">
				<mat-icon >timeline</mat-icon>
        <span style="margin-left: 3px;">Weather State</span>

			</li>
		</ul>
	</mat-drawer>
	<mat-drawer-content [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
		<mat-toolbar>
			<!-- <button mat-icon-button (click)="snav.toggle()"> -->
			<button mat-icon-button (click)="mobileQuery.matches ? snav.toggle() : collapsedNav = !collapsedNav">
        <mat-icon>menu</mat-icon>
      </button>
		</mat-toolbar>
    <router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>
